@import 'tailwindcss';

@plugin '@tailwindcss/forms';

@theme {
  --color-primary: #729b62;
  --text-*: initial;
  --text-xs: 0.75rem;
  --text-xs--line-height: 1rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5rem;
  --text-base: 1rem;
  --text-base--line-height: 1.75rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 2rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 2rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2rem;
  --text-3xl: 2rem;
  --text-3xl--line-height: 2.5rem;
  --text-4xl: 2.5rem;
  --text-4xl--line-height: 3.5rem;
  --text-5xl: 3rem;
  --text-5xl--line-height: 3.5rem;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1.1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;

  --radius-4xl: 2rem;

  --font-sans: var(--font-inter);
  --font-display: var(--font-lexend);

  --container-2xl: 40rem;
}

.gradient-bg {
  background: #4a7639;
  background: linear-gradient(
    135deg,
    rgba(74, 118, 57, 1) 0%,
    rgba(127, 156, 116, 1) 8%,
    rgba(171, 188, 164, 1) 12%,
    rgba(171, 188, 164, 1) 15%,
    rgba(120, 151, 108, 1) 35%,
    rgba(74, 118, 57, 1) 62%,
    rgba(89, 132, 72, 1) 83%,
    rgba(114, 155, 98, 1) 100%
  );
}

.gradient-secondary-bg {
  background: #ffffff;
  background: linear-gradient(
    180deg,
    rgba(127, 156, 116, 0.25) 0%,
    rgba(127, 156, 116, 0.15) 34%,
    rgba(127, 156, 116, 0.10) 52%,
    rgba(248, 250, 252, 0.22) 67%,
    rgba(248, 250, 252, 0.56) 100%
  );
}
